@using WebApp_MVC.Models;
@{
    ViewBag.Title = "modHorario";
}

<div>
    <h2>Modificacion de horario</h2>
    <div align="center">
        <a class="btn btn-primary" @Html.ActionLink("Volver", "OperacionesHorarios", "Account")</a>
    </div>
    @using (Html.BeginForm("horarioModificado", "Account"))
    {
        <table class="table">
            @foreach (modeloHorario mH in ViewBag.Hlist)
            {

                <tr>
                    <td>Id:</td>
                    <td>
                        <input class="form-control" type="text" name="txt_id" id="txt_id" readonly value="@mH.id_horario" />
                    </td>
                </tr>
                <tr>
                    <td>Dia  de la Semana:</td>
                    <td>
                        <input class="form-control" type="text" name="txt_dia" id="txt_dia" value="@mH.dia_semana" readonly />
                    </td>
                </tr>
                <tr>
                    <td>Seleccione un dia de la semana:</td>
                    <td>
                        <select class="form-control" name="opt_diaSemana" id="opt_diaSemana">
                            <option disabled selected value="">Seleccione un día</option>
                            <option value="Lunes">Lunes</option>
                            <option value="Martes">Martes</option>
                            <option value="Miercoles">Miercoles</option>
                            <option value="Jueves">Jueves</option>
                            <option value="Viernes">Viernes</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Hora Inicio:</td>
                    <td>
                        <input class="form-control" type="time" name="tm_inicio" id="tm_inicio" value="@mH.hora_inicio" required />
                    </td>
                </tr>
                <tr>
                    <td>Hora Termino:</td>
                    <td>
                        <input class="form-control" type="time" name="tm_termino" id="tm_termino" value="@mH.hora_termino" required />
                    </td>
                </tr>
                <tr>
                    <td>Cupo:</td>
                    <td>
                        <input class="form-control" type="number" name="nm_cupo" id="nm_cupo" value="@mH.cupo" required max="6" min="2" />
                    </td>
                </tr>
                <tr>
                    <td>Id Taller:</td>
                    <td>
                        <input class="form-control" type="text" name="txt_idTaller" id="txt_idTaller" value="@mH.taller_id_taller" readonly />
                    </td>
                </tr>

            }
            <tr>
                <td></td>
                <td>
                    <input class="btn btn-primary" type="submit" name="btn_modificar" value="Modificar" id="btn_modificar" />
                </td>
            </tr>
        </table>
    }
</div>


