@using WebApp_MVC.Models;

@{
    ViewBag.Title = "Operaciones Horarios";
}
<div>
    <h2>Operaciones de horarios</h2>
    <div >
        <a class="btn btn-primary" style="padding:3px" @Html.ActionLink("Volver al Perfil", "redirectPerfil", "Account") </a>
        <a class="btn btn-primary" style="padding:3px" @Html.ActionLink("Agregar Horario", "agregarHorario", "Account") </a>
    </div>
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Dia de la semana
            </th>
            <th>
                Hora Inicio
            </th>
            <th>
                Hora Termino
            </th>
            <th>
                Id Taller
            </th>
            <th>
                Acciones
            </th>
        </tr>
        @foreach(modeloHorario h in ViewBag.lHor)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => h.id_horario)
                </td>
                <td>
                    @Html.DisplayFor(x => h.dia_semana)
                </td>
                <td>
                    @Html.DisplayFor(x => h.hora_inicio)
                </td>
                <td>
                    @Html.DisplayFor(x => h.hora_termino)
                </td>
                <td>
                    @Html.DisplayFor(x => h.taller_id_taller)
                </td>
                <td>
                    <a class="btn btn-primary" style="padding:3px" @Html.ActionLink("Modificar", "modHorario", new { id = h.id_horario })
                    <a class="btn btn-primary" style="padding:3px" @Html.ActionLink("Eliminar", "elimHorario", new { id = h.id_horario })
                </td>
            </tr>
        }
    </table>
</div>

