@model WebApp_MVC.Models.usuario

@{
    ViewBag.Title = "Perfil";
}

<div style="background-color:white">
    <h2>Perfil</h2>
    <hr>
    <h4>usuario</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>




    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
