@using WebApp_MVC.Models;

@{
    ViewBag.Title = "ListaTalleres";
}

<div style="background-color:white">
    <h2>ListaTalleres</h2>

    <table class="table">
        <tr>
            <th>
                Id Taller:
            </th>
            <th>
                Nombre Taller:
            </th>
            <th>
                Descripcion:
            </th>
            <th>
                Nombre Encargado:
            </th>
            <th>
                Hora inicio:
            </th>
            <th>
                Hora Termino:
            </th>
        </tr>

        @foreach (joinTallUsHr item in ViewBag.Lista)
         {
            <tr>
                <td>
                    @Html.DisplayFor(x => item.id_taller)
                </td>
                <td>
                    @Html.DisplayFor(x => item.nombreTaller)
                </td>
                <td>
                    @Html.DisplayFor(x => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(x => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(x => item.hora_inicio)
                </td>
                <td>
                    @Html.DisplayFor(x => item.hora_termino)
                </td>
            </tr>
         }
    </table>
</div>

